<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", type="text/css", href="/bootstrap.css" , media="screen")
    link(rel="stylesheet", type="text/css", href="/main.css" , media="screen")
    link(href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Butcherman|Ewert|Creepster|Lobster|Pacifico|Oleo+Script|Pinyon+Script|Acme|Timmana|Bree+Serif", rel="stylesheet")
    script(defer="", src="https://use.fontawesome.com/releases/v5.3.1/js/all.js", integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", crossorigin="anonymous")
    script(type='text/javascript' , src='/statistics.js')
    title Vuelos Guacamaya
  body
    header
      nav.navbar.navbar-.bg-dark.navbar-dark
        // Brand
        a.navbar-brand
          img(src="/Vuelos Guacamaya nombre-02.png", alt="")
        // Toggler/collapsibe Button
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#collapsibleNavbar")
          div
            img(src="/Vuelos Guacamaya ícono-04.png")
            | Menu
        // Navbar links
        #collapsibleNavbar.collapse.navbar-collapse
          ul.nav.nav-pills.nav-fill
            li.nav-item
              a.nav-link(href="/index")
                i.fas.fa-money-check
                | Comprar Vuelo
            li.nav-item
              a.nav-link(href="/check_in")
                i.fas.fa-check-double
                | Check-In
            li.nav-item
              a.nav-link(href="/aviones")
                i.fas.fa-check-double
                | Administrador
    
    .cuerpo
      block content
  

    footer.page-footer.font-small.unique-color-dark.footer-copyright.text-center.py-3
        | © 2018 Copyright
    // Copyright