extends base3
block content
  .contenedorF
  
    h2
      img(src='../images/Vuelos Guacamaya nombre-02.png')
      
    
    h2
      | CHECK-IN
    hr
    form(action='/checkinON',method="POST") 
      .form-row 
        .form-group.col-md-6
          label(for='Pasaporte') Nro Pasaporte
          br
          input#Pasaporte.form-control(name="Pasaporte",placeholder='Ingrese su Pasaporte', type="number" required='')
        
        .form-group.col-md-6
          label(for='NroVuelo') Nro Vuelo
          br
          input#NroVuelo.form-control( name="NroVuelo",placeholder='Ingrese su codigoVuelo', type="number" required='')
        
        input(type='submit', value='Buscar')

        