extends base3
block content
  .contenedorF
  
    h2
        img(src='../images/Vuelos Guacamaya nombre-02.png')
        table.table-responsive-sm
            thead
                tr
                    th Hora Salida
                    th Hora llegada
                    th Origen
                    th Destino
                    th Tipo Asiento
            tbody
                tr 
                    td 
                    td 
                    td 
                    td
                    td 
            
    
    h2
      | Vuelo Check In 
    hr
    form(action=`/checkFinal/${pasaporte}/${nvuelo}`,method="POST") 
      .form-row 
        .form-group.col
            select(id='Nroequipaje', name='nroEquipaje', required='')
                -for(var i=0 ; i<=10 ; i++)
                    option #{i}
                
      .form-row
        .form-group.col-md-6
         
        
          
      .form-row
        input(type='submit', value='Confirmar CheckInOn')
