extends base2
block content
    .contenedorF
        .row 
        a(href="/searchStatistic")
            img(src="/Back.png")

        .form-group.pull-right
            input.search.form-control(type='text' placeholder='Que desea?')
            table.table.table-responsive-sm.table-bordered.results
                thead
                    tr
                        th ID vuelo
                        th Sobreventas
                        th Capacidad
                    tr.warning.no-result
                        td(colspan='3')
                            i.fa.fa-warning
                            |  No result
                tbody
                    -for(var i = 0 ; i< sobreventas.length ; i ++)
                    
                        tr
                            td  #{sobreventas[i].C_vuelo} 
                            td  #{sobreventas[i].Cantidad} 
                            td  #{sobreventas[i].abordados}
                     
