extends base2
block content
    .contenedorF
        .row 
        a(href="/searchStatistic")
            img(src="/Back.png")

        .form-group.pull-right
            input.search.form-control(type='text' placeholder='Que desea?')
            h2 
                | Ganancias totales: #{gananciaTotal} $
            table.table.table-responsive-sm.table-bordered.results
                thead
                    tr
                        th ID cliente
                        th Fecha_Compra
                        th Pago 
                    tr.warning.no-result
                        td(colspan='3')
                            i.fa.fa-warning
                            |  No result
                tbody
                    -for(var i = 0 ; i<pasajes.length ; i ++)
                    
                        tr
                            td  #{pasajes[i].C_cliente} 
                            td  #{pasajes[i].fechaCompra} 
                            td  #{pasajes[i].PrecioTotal} 
                      
                    
