extends base2
block content
    .contenedorF
        .row 
        a(href="/searchStatistic")
            img(src="/Back.png")

        .form-group.pull-right
            input.search.form-control(type='text' placeholder='Que desea?')
            table.table.table-responsive-sm.table-bordered.results
                thead
                    tr
                        th Estado
                        th Nro Aviones
                    tr.warning.no-result
                        td(colspan='3')
                            i.fa.fa-warning
                            |  No result
                tbody
                    -for(var i = 0 ; i<estados.length ; i ++)
                    
                        tr
                            td  #{estados[i].C_estado} - #{estados[i].Nombre} 
                            td  #{aviones[i]} aviones / #{((100*aviones[i])/nroAvion).toFixed(2)} %
                      
                    
