extends base2
block content
    .contenedorF
        .row 
        a(href="/searchStatistic")
            img(src="/Back.png")

        .form-group.pull-right
            input.search.form-control(type='text' placeholder='Que desea?')
            table.table.table-responsive-sm.table-bordered.results
                thead
                    tr
                        th Lugar
                        th Vuelos Programados
                    tr.warning.no-result
                        td(colspan='3')
                            i.fa.fa-warning
                            |  No result
                tbody
                    -for(var i = 0 ; i<Vuelos.length ; i ++)
                    
                        tr
                            td  #{aeropuertos[i].Ciudad} / #{aeropuertos[i].Pais} 
                            td  #{Vuelos[i].count} vuelos / #{((100*Vuelos[i].count)/nroVuelos).toFixed(2)} %
                      
                    
