extends base2
block content
    .contenedorF
        .row 
        a(href="/searchStatistic")
            img(src="/Back.png")

        .form-group.pull-right
            input.search.form-control(type='text' placeholder='Que desea?')
            table.table.table-responsive-sm.table-bordered.results
                thead
                    tr
                        th ID Avion
                        th Nro Vuelos
                    tr.warning.no-result
                        td(colspan='3')
                            i.fa.fa-warning
                            |  No result
                tbody
                    -for(var i = 0 ; i<aviones_.length ; i ++)
                    
                        tr
                            td  #{aviones_[i].C_avion}
                            td  #{vuelos[i]} vuelos / #{((100*vuelos[i])/nroVuelos).toFixed(2)} %
                      
                    
