extends base3
block content
  .contenedor2
    .row 
      a(href="#")
        img(src="../images/Back.png")

      h2 
        | Vuelos Disponibles
    .row 
    form
      .form-row 
        table.table-responsive-sm
          thead
            tr
              th Fecha
              th Hora
              th Escalas
              th Precio
              th
          tbody
            tr
              td Kate
              td Moss
              td USA
              td New York City
              td 
                input(type="radio", name="vueloSel", id="a" )
      hr          
      .form-row
        input(type="submit" , value ="Comprar")
      // Table body
    // Table
