extends base3
block content
  .row 
    h2 
      | Vuelos Disponibles
  .row 
    .row 
      table.table.table-striped.w-auto
        thead
          tr
            th #
            th Name
            th Surname
            th Country
            th City
            th Position
            th Age
        tbody
          tr.table-info
            th(scope='row') 1
            td Kate
            td Moss
            td USA
            td New York City
            td Web Designer
            td 23
         
    // Table body
  // Table
