extends base3
block content
  .contenedorF
  
    h2
      img(src='/Vuelos Guacamaya nombre-02.png')
      
    
    h2
      | Buscar vuelo
    hr
    form(action='/findVuelo',method="POST") 
      .form-row 
        .form-group.col-md-6
          label(for='Origen') Origen
          br
          select(id='Origen', name='origen', required='')
            option(value="UM") Miami
            option(value="UN") New York
            option(value="VC") Caracas
            option(value="FP") Paris
            option(value="AUD") Dubai
            option(value="UA") Atlanta
        .form-group.col-md-6
          label(for='Destino') Destino
          br
          select(id='Destino', name='destino', required='')
            option(value="UM") Miami
            option(value="UN") New York
            option(value="VC") Caracas
            option(value="FP") Paris
            option(value="AUD") Dubai
            option(value="UA") Atlanta
      .form-row
        .form-group.col-md-12
          label(for="Fecha") --Fecha de salida
            br
            input(type='date', style="text-align:center; padding-left:10% ; padding-right:10% " , name='fecha', required='')
        
          
      .form-row
        input(type='submit', value='Buscar')

        