extends base3
block content
  .contenedorF
  
    h2
      img(src='../images/Vuelos Guacamaya nombre-02.png')
      
    
    h2
      | Buscar vuelo
    hr
    form(action='/findVuelo',method="POST") 
      .form-row 
        .form-group.col-md-6
          label(for='Origen') Origen
          br
          select(id='Origen', name='origen', required='')
            option(value="UM") Miami
            option(value="UN") New York
            option(value="VC") Caracas
            option(value="FP") Paris
        .form-group.col-md-6
          label(for='Destino') Destino
          br
          select(id='Destino', name='destino', required='')
            option(value="UM") Miami
            option(value="UN") New York
            option(value="VC") Caracas
            option(value="FP") Paris
      .form-row
        .form-group.col-md-6
          label(for="Fecha") --Fecha de salida
            br
            input(type='date', name='fecha', required='')
        .form-group.col-md-6 
          .switch-field
            .switch-title Tipo de Vuelo
            input#escalado(type='radio', name='tipo', value='Escalado')
            label(for='escalado') Escalado
            input#directo(type='radio', name='tipo', value='Directo', checked='')
            label(for='directo') Directo
      .form-row
        input(type='submit', value='Buscar')

        