extends base2
block content
    .contenedorF
        .row 
            a(href="/index")
                img(src="/Back.png")
        h2 
            | Manifiesto de Cancelacion
        h2 
            | El vuelo ID: #{vueloCancelado.C_vuelo} ha sido cancelado

        br
        .row
            h2
                | Fecha de Cancelacion #{vueloCancelado.fecha_cancelacion}
        
            
                  
        // Table body
        // Table
