extends base2
block content
    .contenedorF
        
        h2(align="center")
            | Busqueda Pasajeros por Vuelo
        hr   
        form(action=`/pasajeros`, method="POST")
            .form-row 
                    
                input.search.form-control(type='text', name="busquedad" , placeholder='Escriba el codigo del Vuelo')  

            hr          
            .form-row
                input(type="submit" , value ="Buscar")
                // Table body
                // Table
