extends base3
block content
    .contenedorF
        .row 
        a(href="/searchStatistic")
            img(src="/Back.png")

        .form-group.pull-right
            input.search.form-control(type='text' placeholder='Que desea?')
            table.table.table-responsive-sm.table-bordered.results
                thead
                    tr
                        th Boletos Vendidos
                        th Abordados
                        th Tipo Asiento
                    tr.warning.no-result
                        td(colspan='3')
                            i.fa.fa-warning
                            |  No result
                tbody
                    -for(var i = 0 ; i<abordados.length ; i ++)
                    
                        tr
                            td #{vuelosAsientos[i].Cant_vendidos}
                            td #{abordados[i]}
                            td   #{Asientos[i].tipo}
                    
