footer{

    border-top: 1px ridge rgb(20, 220, 210);
    width: 100%;
    color: aliceblue;
    margin: 0%;
    font-family: 'Oleo Script', cursive;
    background: linear-gradient(rgba(5, 5, 5, 0.05), rgba(0, 0, 0, 0.9)),url(../images/fondo5.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover;
    background-position: bottom;
}
a{
    text-decoration: none;

}



@media (min-width: 100px) {
  .cuerpo{
    font-family: 'Acme' , sans-serif;
    padding:50px;
   padding-top: 54px;
   padding-bottom: 20px;
 margin-bottom: 0px;
 margin-top : 0px;
 background: radial-gradient(rgba(0,0,0,0.03),rgba(0,0,0,0.3),rgba(0,0,0,1)) ,url(../images/avionFondo.jpg);
 background-position: top left;
 background-repeat: no-repeat;
 background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  }

 }
 html,body {
  height: 100%;
  width: 100%;
 
 }
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
  .navbar-brand img{
    width: 100px;
     height: auto;
  }
   div img {
     width: 40px;
     height: 40px;
     max-height: 40px;
     max-width: 40px;
     object-fit: fill;
     opacity:0.7;
   }
    h2 img {
     border-radius:none;
    width: auto; 
    height: auto;
    max-height: 120px;
    max-width: 700px;
    object-fit: fill;
    opacity:1;
  }
   .navbar-toggler:hover div img{
    opacity:1;
    transition: all .5s ease;
  }
  .navbar {
      margin-bottom: 0px;
      border-radius: 0;
      padding: 3px;
  
    }
    button{
      border: 1px ridge crimson;
      padding:5px;
    }
    .bg-dark {
      background: linear-gradient(rgba(5, 5, 5, 0.05), rgba(0, 0, 0, 0.9)),url(../images/fondo5.jpg) !important;
     background-repeat: no-repeat;
     background-attachment: fixed;
      background-size: cover;
     box-shadow: 0 5px 10px black;
     border-bottom: 0.7px ridge black;
    }
    .navbar-dark nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
      color: rgba(16, 223, 205, 0.75);
      font-weight: bold;
    }
   .navbar-dark .navbar-toggler {
      color: whitesmoke;
      border-color: rgba(0, 0, 0, 0.575);
      background: linear-gradient(rgba(0, 119, 255, 0.575),rgba(0, 0, 0,0.8));
     
      font-family: 'Oleo Script', cursive;
      font-size:20px;
      border-radius: 50%;
      padding:3px;
      margin:1px;
    }
    .navbar-dark .navbar-toggler:focus{
    outline :0 !important;
    }
    .navbar-dark .navbar-toggler:active {
      border:none;
    }
    .navbar-toggler{
      max-width: 200px;
      min-width: 50px;
    }
    .navbar-toggler div {
      padding:0px;
      margin: 0px;
    }
  
    .navbar-dark .navbar-toggler:hover {
     color: rgb(16, 223, 205);
     text-shadow: 0px 0px 10px rgb(16, 223, 205);
     box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
     transition: all .5s ease;
    }
  
    .navbar-dark .navbar-toggler:hover .fa-user , .nav-link:hover .fa-user-cog, .nav-link:focus .fa-user-cog, .nav-link:hover .fa-user-tie, .nav-link:focus .fa-user-tie , .nav-link:hover .fa-history, .nav-link:focus .fa-history
    , .nav-link:hover .fa-shopping-cart, .nav-link:focus .fa-shopping-cart , .nav-link:hover .fa-sign-out-alt, .nav-link:focus .fa-sign-out-alt,
    .nav-link:hover .fa-utensils, .nav-link:focus .fa-utensils {
      color: chartreuse;
      transition: all .5s ease;
  
    }
    .nav-item{
       padding-left: 4px;
     margin-bottom: 10px;
     background-color: rgba(0,0,0,0.7);
     box-shadow:0px 15px 10px black;
     font-family: "Pacifico" , cursive;
       }
        .nav-link{
        color:white;
        }
    .nav-item:hover{
   box-shadow: 0px 2px 15px 1px rgba(16, 223, 205, 0.794);
   background: linear-gradient( rgba(16, 223, 205, 0.2),rgba(14, 14, 14, 0.1));
   text-shadow: 0px 0px 4px  rgb(16, 223, 205);
   transition: all .5s ease;
    }
    .nav-link:hover {
      color: rgb(16, 223, 205);
      font-weight: bold;
      text-shadow: 0px 0px 10px  rgb(16, 223, 205);
    }


    .modal {
      background: rgba(0, 0, 0, 0.3);
      color:rgb(255, 255, 255);
      padding: 0px !important;
    }
     .modal-title {
      text-align: center;
      font-family: 'Oleo Script',cursive;
      text-shadow: 0px 0px 10px rgb(16, 223, 205);
     }
    
     .close{
        font-size: 40px;
        padding: 0px;
        margin: 0px;
       color:rgb(16, 223, 205);
       text-shadow: 0px 5px 10px black;
     }
     .modal-header , .modal-footer{
       border:none;
       margin: 0px;
     }
      .modal-header {
        background: rgba(17, 17, 17, 0.9);
        box-shadow: 0px 4px 4px black;
      }
     .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
      color: rgb(16, 223, 205);
      text-shadow: 0px 0px 20px rgb(16, 223, 205);
    }
    .modal-dialog .paypal{
    color:white;
    margin:0px;
    padding: 0px;
    }
    
    .modal-content{  background: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.9));
      box-shadow:0px 0px 10px chartreuse;
    padding:0px;}
    .modal input[type="submit"] {
     width:auto;
    
    }
    .modal .container {
      background: linear-gradient(#c51d4159,#00000023);
      margin: 4px;
      border-radius:10px;
    }
    .modal .container span {
      text-shadow: 0 0 10px rgb(16, 223, 205);
    }
    .modal p {
      text-align: center;
      font-size: 30px;
    }
    select {
      text-align-last:center;
      width: 90%;
    }

    

.table{
  margin: 20px;
  color: white;
  font-family:'Acme', sans-serif;
  
  }
   .table tbody{
    background: rgba(0, 0, 0, 0.5);
   }
  
  table thead{
    background: linear-gradient(rgba(0, 0, 0,0),black);
    border:none;
  }
   .table thead th{
     text-align:center;
     padding:4px;
     margin:0 ;
     border:none;
    font-family: 'Oleo script',cursive;
    box-shadow: 0 2px 15px 2px black;
  color: white;
  font-size: 27px;
  text-shadow: 0px 0px 10px rgb(16, 223, 205);
   }
  
   .btn-primary {
    border: ridge 1px crimson;
    border-radius:15px;
    background: #dc143cab;
    background: radial-gradient(#dc143c7c,#dc143cf6,black);
    color: whitesmoke;
    margin-right: 0px;
    float: right;
  }
  .btn-primary[type="submit"] {
   border: ridge 1px rgb(43, 220, 20);
    background: #25dc14ab;
    background: linear-gradient(#32dc142f,#4ddc14da);
 
 }
  .btn-secondary {
   border: ridge 1px rgb(16, 223, 205);
   border-radius:15px;
   background: radial-gradient(rgba(16, 223, 205,0.1),rgba(16, 223, 205, 0.6),black);
   color: whitesmoke;
   margin-right: 10px;
   float: right;
 }
  button:focus{
   outline :0 !important;
 }
 button:active{
  border:none;
 }
  .btn-primary:hover {
   box-shadow: 0px 0px 15px crimson;
   font-weight: bold;
 }
 .btn-secondary:hover {
   box-shadow: 0px 0px 15px rgb(16, 223, 205);
   font-weight: bold;
 }
  button[type="submit"]:hover{
   box-shadow: 0px 0px 15px chartreuse;
   font-weight: bold;
 
 }
 .table tfoot button, table .btn-block{
   float: right;
   color: white;
   border-color: greenyellow;
   background: linear-gradient(#acff2f57,rgba(172, 255, 47, 0.829));
 }
 .table tfoot button:hover, table .btn-block:hover{
   text-shadow: 0px 0px 4px white;
   box-shadow: 0px 0px 15px chartreuse;
 
   }
   .table tbody .btn-primary:hover {
 
     text-shadow: 0px 0px 7px white;
   }
 
 .table tfoot {
   background: rgba(0, 0, 0, 0.8);
 }
 .form-group {
  text-align: center;
}

.form-group input, .form-group select,.form-group textarea{
  background: rgba(0, 0, 0, 0.5);
  border: rgb(16, 223, 205) 0.8px ridge;
  box-shadow: 0px 0px 5px rgb(16, 223, 205);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom:10px;
  color:  chartreuse;
}
.form-group input:focus,.form-group select:focus,.form-group textarea:focus{
  box-shadow: 0px 1px 10px rgb(16, 223, 205);
  transition: all .5s ease;
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: chartreuse;
}

.custom-control-label::before {
  background-color: black;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: chartreuse;
}
.custom-select:disabled {
  color: rgb(16, 223, 205);
  background-color: #15171a;
}
.custom-select:focus::-ms-value {
  color: chartreuse;
  background-color: rgb(16, 223, 205);
}
.custom-select:focus {
  border-color: rgb(16, 223, 205);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}


.custom-file-input:focus ~ .custom-file-label {
  border-color: rgb(20, 180, 220);
  box-shadow: 0 2px 0 0.2rem rgba(0, 162, 255, 0.295);
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #ff8080;
}

.custom-file-input:disabled ~ .custom-file-label {
  background-color: #000000;
}

.custom-file-label {

  color: chartreuse;
  background-color: rgba(0, 0, 0,0.5);
  border: 1px ridge rgb(16, 223, 205);
}

.contenedorF h2{
text-align: center; 
font-family: 'Oleo Script',cursive;
text-shadow: 0px 0px 4px whitesmoke;



}

.contenedorF{
  background: radial-gradient(rgba(116, 7, 49, 0.4),rgba(0, 0, 0, 0.5),rgba(0, 0, 0,1));
    border: 1px ridge black;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.7);
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    border-radius: 3px;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
    color: #fff;
    position: relative;
    padding: 40px;
}


.contenedorF .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedorF h1{
  margin: 0 0 28px 0;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  font-family: 'Oleo Script',cursive;
  text-shadow: 0px 0px 10px rgb(20, 220, 203);
  font-size: 45px;

}
.contenedorF .toggle:hover{
  border-top: 2px ridge chartreuse;
  border-bottom: 2px ridge chartreuse;
}

 span{
   letter-spacing: 1px;
   font-family: 'Acme', sans-serif;
}
 span a{

    color: whitesmoke;

 }

 .container span{
   display:block;
   padding: 0px;
   font-size:18px;
   margin:10px;
   text-align: center;
 }
 .container span a{
   text-align: center;
 }
 span a:hover{
    text-decoration: none;
    color: rgb(16, 223, 205);
    text-shadow: 0px 0px 10px ;
   cursor:pointer;
 }

 .contenedorF input[type="text"],
 .contenedorF input[type="number"],
 .contenedorF input[type="password"],
 .contenedorF input[type="email"]{
   outline: none;
   display: block;
   width: 100%;
   max-width: 400px;
   padding: 10px 15px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(0,0,0,.5);
   text-align: center;
   color: white;
   border: ridge 0.5px rgb(16, 223, 205);
   border-radius: 2px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 4px 5px rgb(16, 223, 205);
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight:normal;
   transition: all .5s ease;
 }

.contenedorF input[type="text"]:focus,
.contenedorF input[type="number"]:focus,
.contenedorF input[type="password"]:focus,
.contenedorF input[type="email"]:focus {
    box-shadow: 0px 6px 10px  rgb(16, 223, 205);
}

.contenedorF input[type="submit"] {
  background: linear-gradient(rgba(21, 255, 0, 0.4),rgb(21, 255, 0));
  color: #FFF;
 
  width: 100%;
  border-radius: 10px;
  border: 1px ridge rgb(127, 255, 0);
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Acme', sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedorF input[type="submit"]:hover ,.btn-primary:hover {
  font-weight: bold;
  box-shadow: 0px 0px 20px rgb(127, 255, 0);
  text-shadow: 0px 0px 4px white;
}
  .contenedorF input[type="submit"]:focus ,.btn-primary:focus{
  outline :0 !important;
  }
  .contenedorF input[type="submit"]:active ,.btn-primary:active {
    border:none;
  }



 .logo {
   padding:0px;
   margin:0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: middle;
  justify-content: center;
 right: 0;
 bottom: 0;
 }

 .switch-field {
  font-family: 'Acme' , sans-serif;
  padding: 10px;
	overflow: hidden;
}



.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    margin-bottom:0px;
    overflow: hidden;
}

.switch-field label {
  float: left;
  margin-bottom:0px;
}

.switch-field label {
  display: inline-block;
  width: 50%;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
  margin-bottom:0px;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: rgb(16, 223, 205,0.5);
  -webkit-box-shadow: none;
  box-shadow: 0px 0px 6px rgb(0, 110, 236);
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.contenedor2{
  background: radial-gradient(rgba(24, 23, 23, 0.1),rgba(34, 34, 34, 0.2),rgba(0, 0, 0, 0.3));
    border: 0.3px ridge rgb(5, 5, 5) ;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.8);
    max-width: 1800px;
    width: 100%;
    margin: 20px auto;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    position: relative;
    
    padding: 40px;
}
.contenedor2 h2 {text-align: center;
  margin-left: auto;
  margin-right: auto;
font-size:30px; 
text-shadow: 0px 0px 10px white;}
  
.contenedor2 table {
  width:100%;
  margin-left: auto;
  font-size:25px;
  margin-right: auto;
  max-width: 900px;
}
.contenedor2 thead {
  border-bottom: solid 0.5px whitesmoke;
}
.contenedor2 a img{
  border:solid blue 1px;
}

.contenedor2 input[type="submit"]{
  margin-top:25px;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 background: linear-gradient(rgba(21, 255, 0, 0.4),rgb(21, 255, 0));

 border-radius: 10px;
 border: 1px ridge rgb(127, 255, 0);
 padding: 5px 0;
 font-size: 1.2em;
 font-weight: bold;
 font-family: 'Acme', sans-serif;
 letter-spacing: 0.5px;
 cursor: pointer;
 transition: all .5s ease;
max-width: 600px;
}