<header>

<nav class="navbar navbar- bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand"> <img src="" alt=""></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <div> <img src="../../images/iconiAvion.gif"> </div>
    
     
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="/airPlane" ><i class="fas fa-utensils"></i>Aviones</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/" ><i class="fas fa-user-cog"></i>Modelos</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/" ><i class="fas fa-user-cog"></i>Vuelos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/" ><i class="fas fa-user-cog"></i>Pasajeros</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ><i class="fas fa-shopping-cart"></i>Trabajadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ><i class="fas fa-history"></i>Clientes</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-user-tie"></i>Itenerarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   href="#" ><i class="fas fa-sign-out-alt"></i> Salir</a>
        </li>
      </ul>
    </div>
  </nav>

</header>